:root {
  --ion-font-family: 'Montserrat', sans-serif;
  --ion-color-primary: #2ef2aa;
  --ion-color-primary-rgb: 46, 242, 170;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #28d596;
  --ion-color-primary-tint: #43f3b3;

  --ion-color-secondary: #36b083;
  --ion-color-secondary-rgb: 54, 176, 131;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #309b73;
  --ion-color-secondary-tint: #4ab88f;

  --ion-color-tertiary: #125d42;
  --ion-color-tertiary-rgb: 18, 93, 66;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #10523a;
  --ion-color-tertiary-tint: #2a6d55;

  --ion-color-success: #36b083;
  --ion-color-success-rgb: 54, 176, 131;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #309b73;
  --ion-color-success-tint: #4ab88f;

  --ion-color-warning: #fedf16;
  --ion-color-warning-rgb: 254, 223, 22;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0c413;
  --ion-color-warning-tint: #fee22d;

  --ion-color-danger: #ff2436;
  --ion-color-danger-rgb: 255, 36, 54;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e02030;
  --ion-color-danger-tint: #ff3a4a;

  --ion-color-light: #fafffc;
  --ion-color-light-rgb: 250, 255, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dce0de;
  --ion-color-light-tint: #fbfffc;

  --ion-color-medium: #dbdbdb;
  --ion-color-medium-rgb: 219, 219, 219;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #c1c1c1;
  --ion-color-medium-tint: #dfdfdf;

  --ion-color-dark: #0e0e0e;
  --ion-color-dark-rgb: 14, 14, 14;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0c0c0c;
  --ion-color-dark-tint: #262626;

  --ion-top-bar-notch-gaurd: 30px;
  --ion-top-bar-margin: calc(var(--ion-top-bar-notch-gaurd) + 60px);
  --safe-area-inset-top: 20px;
}
